<div class='invoice'>
  <h4 class='title'>{{t 'invoiceNumber'}}: {{model.uid}}</h4>

  <table class="table table-stripe">
    <thead>
      <tr>
        <td class='name'>{{t 'product'}}</td>
        <td class='price'>{{t 'price'}}</td>
      </tr>
    </thead>
    <tbody class='products'>
      {{#each model.products as |product|}}
        <tr class='product'>
          <td class='name'>{{product.name}}</td>
          <td class='price'>{{dollar-format product.price}}</td>
        </tr>
      {{/each}}
      <tr class='subTotal total'>
        <td class='name'>{{t 'subTotal'}}</td>
        <td class='price'>{{dollar-format model.subTotal}}</td>
      </tr>
    </tbody>
  </table>

  <table class="table table-stripe">
    <thead>
      <tr>
        <td class='name'>{{t 'fee'}}</td>
        <td class='price'>{{t 'price'}}</td>
      </tr>
    </thead>
    <tbody class='fees'>
      {{#each model.fees as |fee|}}
        <tr class='fee'>
          <td class='name'>{{fee.name}}</td>
          <td class='price'>{{dollar-format fee.price}}</td>
        </tr>
      {{/each}}
      <tr class='feeTotal total'>
        <td class='name'>{{t 'subTotal'}}</td>
        <td class='price'>{{dollar-format model.feeTotal}}</td>
      </tr>
    </tbody>
  </table>

  <table class="table">
    <tbody>
      <tr class='allTotal total'>
        <td class='name text-right'>{{t 'total'}}</td>
        <td class='price'>{{dollar-format model.price}}</td>
      </tr>
    </tbody>
  </table>

  {{#if model.charged}}
    <div class='charged alert alert-success text-center'>{{t 'thanksForPayment'}}</div>
  {{else}}
    <div class='checkout text-right'>
      {{stripe-checkout
        image="/assets/images/logo.png"
        name=model.products.firstObject.name
        email=''
        class="btn btn-lg btn-success"
        description=model.products.firstObject.name
        label=(t 'payPrice')
        isDisabled=false
        amount=model.price
        action="processStripeToken"
        allowRememberMe=false
        alipay=true
        alipay-reusable=true
      }}
    </div>
  {{/if}}
</div>

<div class='stripe'></div>
